body {
    /*Установка шрифта Andika из Google Fonts для всей страницы*/
    font-family: 'Andika', regular;
}

/*Установка отступов для большей эстетичности*/
h1 {
    margin-top: 20px;
}
h2 {
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 10px;
}

/*img - применяется ко всем изображениям в проекте*/
img {
    /*Высота, ширина и нижний отступ изображения*/
    height: 500px;
    width: 400px;
    margin-bottom: 10px;
}

/*hedwig3 - Букля 3*/
.hedwig3 {
    /*Применение к изображению фильтра, который инвертирует все цвета*/
    filter: invert(100%);
}

/*hedwig4 - Букля 4*/
.hedwig4 {
    /*Зеркальное отображение изображение по горизонтали*/
    transform: scaleX(-1);
}

/*hedwig5 - Букля 5*/
.hedwig5 {
    /*Установка полупрозрачности изображения в 50%*/
    opacity: 0.5;
}